<nav class="page-header-login">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">QuizInc</a>
        <ul class="right hometag">
            <li><a href="/" style="font-weight: 600;">Home</a></li>
        </ul>
    </div>
</nav>