<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Login | Rewind Quiz</title>

    <style>
        .signinbox{
            background: linear-gradient(90deg, rgb(88, 176, 184) 0%, rgba(16,62,255,1) 100%);
        }
        .about-title{
            font-size: 40px;
            font-weight: 600;
            color:#fff;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        .rules-title{
            font-size: 30px;
            color: #fff;
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 10px;
            background: linear-gradient(90deg, rgb(88, 176, 184) 0%, rgba(16,62,255,1) 100%);
            padding: 10px;
            border-radius: 5px;
        }
        .btn{
            background-color: #fa7400;
        }
        .welcometext{
            color: #fff;
            font-size: 30px;
            font-weight: 600;
        }
        .divider{
            height: 2px;
        }
        .rules-divider{
            height: 4px;
            background-color: #fff;
        }
        .rules-text{
            color: #fff;
            padding: 10px;
        }
        .rules-text li{
            padding: 10px;
            margin-bottom: 10px;
            background-color: #e87613;
            border-radius: 7px;
            font-weight: 400;
        }
        .page-footer-login{
            background: #000;
            border-top: 2px solid #fff;
        }

    </style>


</head>

<body class="login-back grey lighten-4">
    {{>_headerlogin}}
    {{!-- <nav class="indigo">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">
                <span>QuizInc</span>
            </a>
        </div>
    </nav> --}}
    {{!-- <div class="container"> --}}
        {{{body}}}
        {{!-- </div> --}}
    {{>_footerlogin}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>