<div class="valign-wrapper bgimg">
    <div class="center-align middleforend">
        <div id="particles-js"></div>
        <h1 class="finished-main-tag">The Rewind Quiz Has Ended</h1>
        <h5>Better luck next time.Stay tuned for the upcoming evets</h5>
    </div>
</div>

<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
<script src="/js/particles.min.js"></script>
